{% extends 'main.html' %}
{% block content %}
{% load static %}

<main>
    <div class="container-fluid mx-auto w-75 p-3 mb-5">
        <h1 class="mt-5 mb-3 text-dark">Flights from Dubai to Bangkok</h1>

        {% if queryset == containers %}
        <form id="sortForm" method="GET" action="{% url 'flights' %}" class="mb-3">
            <span class="pe-3">Sort by</span> 
            {% for key, value in sort_options.items %}
            <div class="form-check form-check-inline ps-1">
                <input type="radio" class="btn-check" name="sort" id={{key}} autocomplete="off" value={{key}} {% if request.GET.sort == key %}checked="checked"{% endif %}>
                <label class="btn btn-outline-primary" for={{key}}>{{value.view}}</label>
            </div>
            {% endfor %}

            <div class="form-check form-check-inline form-switch">
                <input class="form-check-input" name="onward_only" value="1" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if request.GET.onward_only == "1" %}checked="checked"{% endif %}>
                <label class="form-check-label" for="flexSwitchCheckDefault">Onward flights only</label>
            </div>

            <button type="submit" class="btn btn-warning mr-3">APPLY</button>
            <a href="{% url 'flights' %}" id="refresh-btn" type="button" title="Reset"><img src="{% static 'images/refresh.png' %}" style="width: 40px; height: 40px;" /></a>
        </form>
        {% endif %}

        {% for container in queryset %}
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="card-title">ROUTE {{container.container_count}}</h4>
                </div>

                {% if queryset == best_options %}
                <div class="card-body"> 
                    {% if container.itineraries_set.all.0.total_flight_time <= max_flight_time %}
                    <span class="badge bg-secondary text-light">Faster flight</span>
                    {% endif %}
                    {% if container.itineraries_set.all.0.flights_set.all.0.direct_flight %}
                    <span class="badge bg-warning text-dark">Direct flight</span>
                    {% endif %}
                    {% if container.adult_price <= max_price %}
                    <span class="badge bg-info text-dark">Cheaper flight</span>
                    {% endif %}
                </div>
                {% endif %}

                {% for itinerary in container.itineraries_set.all %}
                <div class="card-body">
                    <p><strong>{{itinerary.priced_itinerary.priced_itinerary|upper}}</strong></p>
                    <p><strong>TOTAL FLIGHT TIME: <span class="text-primary">{{itinerary.total_flight_time}} min</span></strong></p>
                </div>

                {% for flight in itinerary.flights_set.all %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p><strong>{% if flight.direct_flight %}DIRECT FLIGHT{% elif not flight.direct_flight %}FLIGHT {{flight.flight_part}}{% endif %} — FROM {{flight.source.city}} TO {{flight.destination.city}}</strong></p>
                        <p>FLIGHT NO.: {{flight.flight_num}} {{flight.carrier.carrier}} (Class {{flight.class_field.class_field}})</p>
                        <p>ARRIVAL TIME: {{flight.arrival_time}}</p>
                        <p>DEPARTURE TIME: {{flight.departure_time}}</p>
                        <p>FLIGHT TIME: {{flight.flight_time}} min</p>
                    </li>
                </ul>
                {% endfor %}
                {% endfor %}

                <div class="card-footer">
                    <p><strong>TOTAL PRICE: <span class="text-primary">{{container.currency.currency}} {{container.adult_price}}</span></strong></p>
                    <p>REQUEST TIME: {{container.request_time}}</p>
                </div>
            </div>
        {% endfor %}

    </div>
    {% include 'pagination.html' with queryset=queryset custom_range=custom_range %}
</main>

{% endblock %}