{% extends 'main.html' %}
{% load static %}

{% block main %}
<main>
    <div class="container-fluid mx-auto w-75 p-3 mb-5">
        <h1 class="mt-5 mb-3 text-dark">Flights from Dubai to Bangkok</h1>

        {% if queryset == containers %}
        <form id="sortForm" method="GET" action="{% url 'flights' %}" class="mb-3">
            <span class="pe-3">Sort by</span> 
            {% for key, value in sort_options.items %}
            <div class="form-check form-check-inline ps-1">
                <input type="radio" class="btn-check" name="sort" id={{key}} autocomplete="off" value={{key}} {% if request.GET.sort == key %}checked="checked"{% endif %}>
                <label class="btn btn-outline-primary" for={{key}}>{{value.view}}</label>
            </div>
            {% endfor %}

            <div class="form-check form-check-inline form-switch">
                <input class="form-check-input" name="onward_only" value="1" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if request.GET.onward_only == "1" %}checked="checked"{% endif %}>
                <label class="form-check-label" for="flexSwitchCheckDefault">Onward flights only</label>
            </div>

            <button type="submit" class="btn btn-warning mr-3">APPLY</button>
            <a href="{% url 'flights' %}" id="refresh-btn" type="button" title="Reset"><img src="{% static 'images/refresh.png' %}" style="width: 40px; height: 40px;" /></a>
        </form>
        {% endif %}

        <div id="scroll-element">
            {% include 'flights/flight_card.html' %}
        </div>

        <div id="bottom-sentinel"></div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let bottomSentinel = document.querySelector("#bottom-sentinel");
        let scrollElement = document.querySelector("#scroll-element");
        let baseUrl = "{{ request.get_full_path }}";
        attachInfiniteScroll(bottomSentinel, scrollElement, baseUrl);
    })
</script>
{% endblock main %}