{% for container in queryset %}
    <div class="card mb-5">
        <div class="card-header">
            <h4 class="card-title">ROUTE {{container.container_count}}</h4>
        </div>

        {% if queryset == best_options %}
        <div class="card-body"> 
            {% if container.itineraries_set.all.0.total_flight_time <= max_flight_time %}
            <span class="badge bg-secondary text-light">Faster flight</span>
            {% endif %}
            {% if container.itineraries_set.all.0.flights_set.all.0.direct_flight %}
            <span class="badge bg-warning text-dark">Direct flight</span>
            {% endif %}
            {% if container.adult_price <= max_price %}
            <span class="badge bg-info text-dark">Cheaper flight</span>
            {% endif %}
        </div>
        {% endif %}

        {% for itinerary in container.itineraries_set.all %}
        <div class="card-body">
            <p><strong>{{itinerary.priced_itinerary.priced_itinerary|upper}}</strong></p>
            <p><strong>TOTAL FLIGHT TIME: <span class="text-primary">{{itinerary.total_flight_time}} min</span></strong></p>
        </div>

        {% for flight in itinerary.flights_set.all %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p><strong>{% if flight.direct_flight %}DIRECT FLIGHT{% elif not flight.direct_flight %}FLIGHT {{flight.flight_part}}{% endif %} — FROM {{flight.source.city}} TO {{flight.destination.city}}</strong></p>
                <p>FLIGHT NO.: {{flight.flight_num}} {{flight.carrier.carrier}} (Class {{flight.class_field.class_field}})</p>
                <p>ARRIVAL TIME: {{flight.arrival_time}}</p>
                <p>DEPARTURE TIME: {{flight.departure_time}}</p>
                <p>FLIGHT TIME: {{flight.flight_time}} min</p>
            </li>
        </ul>
        {% endfor %}
        {% endfor %}

        <div class="card-footer">
            <p><strong>TOTAL PRICE: <span class="text-primary">{{container.currency.currency}} {{container.adult_price}}</span></strong></p>
            <p>REQUEST TIME: {{container.request_time}}</p>
        </div>
    </div>
{% endfor %}